@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Дополнительные базовые стили */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  /* Минимальный базовый фон и отступ */
  background-color: #ffffff;
}
